[Unit]
Description=oVirt-Cockpit SSO service

[Service]
Restart=always
PermissionsStartOnly=true
User=ovirt
Group=cockpit-ws
RuntimeDirectory=ovirt-cockpit-sso
ExecStartPre=/usr/share/ovirt-cockpit-sso/prestart.sh
ExecStart=/usr/share/ovirt-cockpit-sso/start.sh

[Install]
WantedBy=multi-user.target
