[Unit]
Description=oVirt-Cockpit SSO service
Author=Marek Libra

[Service]
Restart=always
ExecStart=OVIRT_FQDN=$(hostname -f) XDG_CONFIG_DIRS=/usr/share/ovirt-cockpit-sso/config /usr/libexec/cockpit-ws --port=9000
User=ovirt
Group=ovirt

[Install]
WantedBy=multi-user.target
